que1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

ans - values - 'hello' , -87.8 , 6
      
      expressions - * , - , / , +

que2. What is the difference between string and variable?

ans - string is a value that you write inside a quotes (' '/" ").

      ex - 'hello rajat', "rajat09"

      Variables are symbols that you can use to store data in a program to use it again and again with the help of          variable.

      ex - rajat = 9

que3. Describe three different data types.

ans - 1. integer(int) - An integer is defined as a mathematical number with no decimal or fractional part. ex -             2,422,-65465


      2. string(str) - string is a value that you write inside a quotes (' '/" "). it is taken as a text wheather it is a number or a alphabet. ex - "ineuron" , 'ineuron0123'

      3. floating point(float) - a number which has a decimal point is called floating point number. ex - 45.785 , 2525.48

que4. What is an expression made up of? What do all expressions do?

ans - Expression is made up of values, variables, operators. all expressions are used to evaluate single value. ex - +,/,-,<,>

que5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

ans - Statements represent an action or command but an expression is something that can be reduced to a value.

que6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22
bacon + 1

23

que7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

que8. Why is eggs a valid variable name while 100 is invalid?

ans - eggs is valid as a variable because variable name can not begin with number and it does not contain a value of its own while 100 is invalid because it begins with number and it has a value of its own.

que9. What three functions can be used to get the integer, floating-point number, or string version of a value?

ans - int() , float() , str() these are the three functions which is used to get the integer, floating-point number, or string version of a value respectively.

que10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

ans - this expression cause an error because you can not concatenate integer and string values only string and string or only integer and integer can be concatenated. u can fix it by using quotes(''/"") or str() function.

In [4]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [5]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'